.gallery {
    margin-left: 3%;
    margin-right: 3%;
}
.gallery img{
    height: 10%;
    max-height: 300px;
    max-width: 95%;
    padding: 5px;
    background-size: cover;
    transition: 1s;
}
.gallery img:hover{
    transform: scale(1.1);
}