.body_style{
    background-image: url(./img/fig/strawberry.jpg);
    width: 100%;
    height: 100%;
    /* min-width: 1050px; */
}
.TableClass2{
    padding-right: 5px;
    color:rgb(233, 72, 185);
}
    a:link {color: rgb(233, 72, 185);}
    a:visited {color: rgb(233, 72, 185);}
    a:hover {color: green;}

#second_container{
    background-color: rgb(122, 202, 255);
    margin-left: 3%; 
    margin-right: 3%;
    /* min-width: 950px; */
}
.dot_lines{
    border-top: dotted 1px; 
    /* margin-left: 10%; 
    margin-right: 10%;  */
    size: 3px;
    color: white
}
.menu_container{
    margin-left: 10%; 
    margin-right: 10%; 
}
.menu{
    width: 100%;
    background-color: khaki;
}
.menu td{
    width: auto;
    font-size: 100%;
    text-align: center;
    background-color: lawngreen;
}
.small_menu{
    display: none;
    width: 100%;
    background-color: khaki;
}
.small_menu td{
    width: 10%;
    font-size: 100%;
    text-align: center;
    overflow: hidden;
    background-color: lawngreen;
}
.bannerimage{
    width:75%;
    height:50%;
    /* width:100%x;
    height:100%; */
    margin: 0px auto;
    background-size:100% 100%;
    color:#fff;
    box-shadow: 0 0 12px 2px  #142732;
}
.box{
    /* width:750px;
    height:500px; */
    width:100%;
    height:100%;
    margin:0px auto;
    overflow: hidden;
}
.img-g{
    width:700%;
    height:100%;
    position:relative;
}
.img-g img{
    float:left;
    /* width:750px;
    height:500px; */
    width:14.285%;
    height:100%;
    background-size: cover;
}
.button-g{
    position:relative;
    top:-100%;
    text-align:center;
}
.button-g span{
    display:inline-block;
    position:relative;
    z-index:10;
    width:10px;
    height:10px;
    margin:0 5px;
    border-radius:100%;
    cursor: pointer;
}
/* @media(min-width: 500px){
    .body_style{
        min-width: 1050px;
    }
    #second_container{
        min-width: 950px;
    }
} */
@media(max-width: 700px){
    .body_style{
        min-width: initial; 
    }
    .menu{
        display: none;
    }
    .small_menu{
        display: block;
    }
    #second_container{
        min-width: initial;
    }
}
/* @media(max-width: 400px){
    .TableClass{
        padding-left: 30px;
        padding-right: 30px;
    }
} */
